.contact-container {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;

    top: 0;
    left: 0;
    height: 98%;
    width: 98%;

    margin: 1%;
    box-sizing: border-box;

    overflow: hidden;
}

.title h1 {
    font-size: 14px;
    text-align: center;
}

.title p {
    font-size: 12px;
    text-align: center;
}

.body {
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}

input {
    border-radius: 4px;
    border: 2px solid rgb(244, 209, 255);
    padding: 10px;
    padding-left: 20px;
    margin: 20px 5px 15px 5px;
    box-sizing: border-box;
    cursor: text;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: rgb(34, 34, 34);
}

input[type=text] {
    width: 200px;
}

input[type=email] {
    width: 330px;
}

input:focus{
    outline: none;
    border: 2px solid rgb(193, 140, 209) !important;
}

input[type=submit] {
    background-color: #fce1ff;
    color: #6d6d6d;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100px;
    font-size: 11px;
    font-family: "Silkscreen", serif;
    font-style: normal;
}

input[type=submit]:hover {
    background-color: #cea1d3 !important;
    color: #ffffff;
    border-color: rgb(193, 140, 209);
}

input[type=submit]:active {
    background-color: #000000 !important;
    color: #ffffff;
    border-color: rgb(193, 140, 209);
}

textarea {
    border-radius: 4px;
    border: 2px solid rgb(244, 209, 255);
    width: 548px;
    height: 100px;
    padding: 12px 20px;
    margin: 5px;
    box-sizing: border-box;
    resize: none;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: rgb(34, 34, 34);
}

textarea:focus{
    outline: none;
    border: 2px solid rgb(193, 140, 209) !important;
}

#message {
    font-size: 12px;
    margin-top: 30px;
    color: rgb(93, 34, 128);
    text-align: center;
}

#loading {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 24px;
    padding: 2px 0;
    box-sizing: border-box;
    display: flex;
    animation: l5-0 3s infinite steps(6);
    background:
        linear-gradient(#fff7f7 0 0) 0 0/0% 100% no-repeat,
        radial-gradient(circle 3px,#5A3A61 90%,#00000000) 0 0/20% 100%
        #fff7f7;
    overflow: hidden;
}
#loading::before {
    content: "";
    width: 20px;
    transform: translate(-100%);
    border-radius: 50%;
    background: #5A3A61;
    animation: 
        l5-1 .25s .153s infinite steps(5) alternate,
        l5-2  3s        infinite linear;
}
@keyframes l5-1{ 
    0% {clip-path: polygon(50% 50%,100%   0,100% 0,0 0,0 100%,100% 100%,100% 100%)}
    100% {clip-path: polygon(50% 50%,100% 65%,100% 0,0 0,0 100%,100% 100%,100%  35%)}
}
@keyframes l5-2{ 
    100% {transform: translate(90px)}
}
@keyframes l5-0{ 
    100% {background-size:120% 100%,20% 100%}
}