.education-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    flex-direction: column;

    top: 0;
    left: 0;
    height: 98%;
    width: 98%;

    margin: 1%;
    gap: 10%;
    box-sizing: border-box;

    overflow: hidden;
}

.education-section {
    display: flex;
    padding: 30px 20px 0px 20px;
    box-sizing: border-box;
}

.education-section img {
    width: 100px;
    aspect-ratio: 1/1;
    border: none;
}

.edu {
    margin-left: 20px;
    flex: 1;
    text-align: left;
}

.edu p {
    margin: 3px;
    font-size: 12px;
    list-style: circle;
}

.edu ul {
    margin: 0;
    font-size: 12px;
    list-style: circle;
}

.edu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.edu-header h1 {
    font-size: 14px;
    margin: 0;
}

.edu-header p {
    font-size: 12px;
    margin: 0;
}