@import url(desktop.css);
@import url(windows.css);
@import url(taskbar.css);
@import url(socialLinks.css);
@import url(resume.css);
@import url(education.css);
@import url(contact.css);
@import url(work.css);
@import url(projects.css);
@import url(about-me.css);

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: "Silkscreen", serif;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 14px;
}

@media (max-width: 1024px) {
    body {
        font-size: 12px;
    }

}

h1 {
    color: #5A3A61;
}

p, ul {
    color: #6B4E71;
}