.project-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;

    padding: 5%;
    gap: 30%;
    box-sizing: border-box;
    overflow-y: scroll;
}

.project {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 0 0 100%;
    justify-content: space-between;

    opacity: 1;

    &.left {
        flex-direction: row;
    }
    &.right {
        flex-direction: row-reverse;
    }
}

.project-img {
    width: 30%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: auto 0;
    border: 1px solid red;
}

.project-text {

    margin: auto 0;
    text-align: center;
    width: 65%;
    display: flex;
    flex-direction: column;

    &.left{
        margin-left: 5%;
    }
    &.right{
        margin-right: 5%;
    }

    & h1 {
        font-size: 1.25rem;
        margin: 0;
    }

    & #project-skills {
        font-size: 0.6rem;
        margin: 0;
    }

    & #project-description {
        font-size: 0.75rem;
        margin-top: 2%;
    }

}

#github {
    background-color: #fce1ff;
    border: 2px solid rgb(193, 140, 209);
    color: #6d6d6d;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    font-family: "Silkscreen", serif;
    font-style: normal;
    font-size: 0.6rem;

    display: block;
    margin: 0 auto;
    margin-top: 4%;
}