.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

    top: 0;
    left: 0;
    height: 98%;
    width: 98%;

    margin: 1%;
    box-sizing: border-box;

    overflow: hidden;
}

iframe.resume-file {
    border: none;
    display: block;
    flex-grow: 1;
}

.download-link {
    text-align: center;
    color: #5A3A61;
    text-decoration: none;
}

.download-link:hover {
    text-decoration: underline;
}
