.window-content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    height: 100%;
    width: 100%;

    row-gap: 10%;
    column-gap: 5%;
    box-sizing: border-box;

    overflow: hidden;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img {
    width: 30%;
    aspect-ratio: 1/1;
}

.social-links img:hover {
    transform: scale(1.05);
}
