#windows-container {
    position: absolute;
}

.window {
    position: absolute;
    z-index: 10;
    background: rgb(155, 113, 184);
    border: 2px solid rgb(95, 57, 121);
    display: block;
    overflow: visible;
    border-radius: 5px;
    user-select: none;

    box-sizing: border-box;
    padding: 0.25rem;
}

.window-header {
    background: rgb(155, 113, 184);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 3px;
    height: 30px;

    cursor: move;
    display: flex;
    justify-content: space-between;
    user-select: none;
    text-wrap: none;
    overflow: hidden;
}

.window-header button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.window-body {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    width: 100%;
    height: calc(100% - 30px);
    
    border-radius: 5px;
    background-color: #fff7f7;
}

.window.active{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    max-height: 100vh - 50px;
}

.window.fullscreen {
    position: fixed;
    border: none;
    resize: none;
    box-shadow: none;
    border-radius: 0px;

}